<div class="formContainer">
  <h2> Log In </h2>

  {{#if errorMessage}}
  <p class="error-message">{{ errorMessage }}</p>
  {{/if}}

  <form action="/login" method="post">
    <div class="email">
      <label for="email-input">Email</label>
      <input type="email" name="email" id="email-input" placeholder="e.g., xena@warrior.company">
    </div>
    <div class="password">
      <label for="password-input">Password</label>
      <input type="password" name="password" id="password-input" placeholder="e.g., ••••••••••••">
    </div>

    <button> Log In </button>
  </form>

  <p>Don't have an account?<a href="/signup">Create an account.</a></p>
</div>